*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.ptb
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*~
*.o
*.hi
higher-ranked-exception-types/prototype/dist/
higher-ranked-exception-types/documentation/**/*.tex
